.query-studio-block {
    display: block;  
}
.query-studio-table {
    border: 1px solid #99AACC;
    border-collapse: collapse;
}
.query-studio-title {
    font-family: verdana,arial;
    font-size: 9pt; 
    text-align: center; 
    font-weight: bold; 
    border: 1px solid black; 
    padding: 4px 10px; 
    background-color: #BEC8DC; 
    color: black; 
    border: 1px solid #99AACC;
}
.query-studio-text {
    font-family: verdana,arial;
    font-size: 9pt; 
    font-weight: normal; 
    border: 1px solid black;
    padding: 4px 4px; 
    color: black; 
    border: 1px solid #99AACC;
    background-color: white;
}
.query-studio-number {
    font-family: verdana,arial;
    font-size: 9pt; 
    font-weight: normal; 
    text-align: right;
    border: 1px solid black;
    padding: 4px 4px; 
    color: black; 
    border: 1px solid #99AACC;
    background-color: white;
}
.query-studio-pagination {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 9pt;
}
.query-studio-pagination a {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    font-weight: normal;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin-top: 2pt;
}
.query-studio-pagination a.active {
    background-color: #BEC8DC;
    color: black;
    font-weight: bold;
    border: 1px solid #BEC8DC;
}
.query-studio-pagination a:hover:not(.active) {
    background-color: #ddd;
}
.query-studio-input-filter {
    padding: 4px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 9pt;
    margin-top: 4px;
    margin-bottom: 4px;  
    width: 280pt;          
}